body {
  font: 100%/1.3 Verdana, Geneva, sans-serif;
  color: #000;
  margin: 0;
  background: grey;
}

#holder {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: #32CD32;
  width: 75rem;
}

/* links */
nav {
  background: #00bfff;
  flex: 1
}

nav li {
  list-style-type: none;
  color: white;
  padding: 1rem text-allign
}

nav a:link {
  display: block;
  font-weight: bold;
  color: #FFF;
  border-radius: 0.3em;
  background-color: #FF5533;
  width: 3.5rem;
  padding: 0.3rem;
  margin: 0.3rem;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

article1 {
  background: #e9d66b;
  flex: 1
}

main {
  width: 75rem;
  background: #32CD32
}

/* klassen */
.grosstext {
  font: 100%/1.3 Verdana, Geneva, sans-serif;
  font-weight: bold;
}

.kleintext {
  font: 70%/1.3 Verdana, Geneva, sans-serif;
}

.ueberschrift {
  font: 290%/1.3 Verdana, Geneva, sans-serif;
  font-weight: bolder;
}
